body{
background-color: rgb(107, 103, 103);
}
#mijngezin{
    color: rgb(255, 255, 255);
}
#vrijetijd{
    color: rgb(0, 0, 0);
}
#gezin{
    color: rgb(255, 255, 255);
}
li{
    color: blue;
}
#voetbal{
    color: rgb(0, 0, 0);
}